<div class="container-fluid" id="login">
    <div class="row no-gutter">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Đăng nhập Wikobo</h5>
                    <form class="form-signin">
                        <div class="form-group col-md-12 col-lg-12 col-12">
                            <label for="">Tên đăng nhập (*)</label>
                            <input type="text" class="form-control" [(ngModel)]="accountDto.username" name="username" minlength="4" required #username="ngModel">
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-12">
                            <label for="">Mật khẩu</label>
                            <input type="password" class="form-control" [(ngModel)]="accountDto.password" name="password" minlength="8">
                        </div>

                        <!-- Validate Form Message START-->
                        <div class="alert alert-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
                            <div *ngIf="username.errors.required">
                                Bắt buộc nhập Username!
                            </div>
                            <div *ngIf="username.errors.minlength">
                                Username phải nhiều hơn 4 ký tự!
                            </div>
                        </div>
                        <!-- Validate Form Message END-->
                        <div class="form-group col-md-12 col-lg-12 col-12 text-right">
                            <button class="btn btn-info" style="margin-right: 5px;" (click)="login()">Đăng nhập</button>
                            <a href="/registery" class="btn btn-danger">Đăng ký</a>
                        </div>
                        <div class="col-md-12 col-lg-12 col-12 text-center" style="margin-bottom: 10px;">
                            <a href="#"><span>Bạn quên mật khẩu?</span></a>
                        </div>
                        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Đăng nhập với Google</button>
                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Đăng nhập với Facebook</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>