<div class="container-fluid" id="register">
    <div class="row no-gutter">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Đăng ký</h5>
                    <form class="form-signin">
                        <div class="form-group col-md-12 col-lg-12 col-12">
                            <label for="">Email/Số điện thoại</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-12">
                            <label for="">Tên đăng nhập</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-12">
                            <label for="">Mật khẩu</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-12">
                            <label for="">Nhập lại mật khẩu</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-12 text-right">
                            <button class="btn btn-info" style="margin-right: 5px;" (click)="register()">Đăng ký</button>
                        </div>
                        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Đăng ký với Google</button>
                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Đăng ký với Facebook</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>