<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 coi-sm-4 col-4 vertical-line">
                <h5>Giới thiệu & Điều khoản</h5>
                <div class="list-group">
                    <a href="#">Điều khoản</a>
                    <a href="#">Hướng dẫn đăng truyện</a>
                    <a href="#">Chuẩn chính tả viết văn</a>
                    <a href="#">Hướng dẫn trả phí</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 coi-sm-4 col-4 vertical-line">
                <h5>Ứng dụng</h5>
                <div class="list-group">
                    <a href="#">App Store</a>
                    <a href="#">CH Play</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 coi-sm-4 col-4 vertical-line">
                <h5>Liên hệ</h5>
                <div class="list-group">
                    <a>hoatnd87@gmail.com</a>
                    <a href="#">Link facebook</a>
                    <a href="#">Proceted</a>
                </div>
            </div>
        </div>
    </div>
</footer>