<div class="container">
    <div class="row">
        <div class="col-md-4" style="width: 12rem;">
            <div class="card">
                <img src="../../../assets/imgs/nguoi-chong-mao-danh.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-title text-right">
                        <button class="btn btn-light" style="margin-right: 10px;">Upload ảnh</button>
                        <button class="btn btn-danger">Xóa ảnh</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3>Chi tiết truyện</h3>
            <form action="">
                <div class="form-group">
                    <label>Tên truyện</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="form-group">
                    <label>Giới thiệu</label>
                    <textarea class="form-control" rows="8"></textarea>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Thẻ tag</label>
                            <ng-select [items]="listTag" bindLabel="value" bindValue="id" [(ngModel)]="selectedTag" name="selectedTag"></ng-select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ngôn ngữ gốc</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ngôn ngữ dịch</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group text-right">
                    <button class="btn btn-info" style="margin-right: 5px;">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Hủy bỏ</button>
                </div>
            </form>
        </div>
    </div>

</div>