<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top custom-header">
    <div class="container">
        <a class="navbar-brand" href="#">Wikobo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">{{navItems.HOME_PAGE.name}}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{navItems.DANH_MUC.name}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{navItems.NGON_TINH.link}}">{{navItems.NGON_TINH.name}}</a>
                        <a class="dropdown-item" href="{{navItems.NGON_TINH.link}}">{{navItems.NGON_TINH.name}}</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{navItems.THU_VIEN_SACH.link}}">{{navItems.THU_VIEN_SACH.name}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{navItems.TRUYEN_VIP.link}}">{{navItems.TRUYEN_VIP.name}}</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button> -->
                <!-- Chưa login -->
                <div class="nav-buttons" *ngIf="!isLogin">
                    <a class="nav-link" href="{{userLink.LOGIN.link}}" title="Đăng nhập"><img height="50px" src="../../../assets/imgs/icons8-login-50.png"> {{userLink.LOGIN.name}}</a>
                    <a class="nav-link" href="{{userLink.REGISTER.link}}"><img height="50px" src="../../../assets/imgs/icons8-add-user-male-100.png"> {{userLink.REGISTER.name}}</a>
                </div>
                <!-- Đã login -->
                <div class="nav-buttons" *ngIf="isLogin">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img height="50px" src="../../../assets/imgs/icons8-user-group-50.png" alt=""> Hi Admin</a>
                            <div class="dropdown-menu" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{navItems.VIET_TRUYEM.link}}"> <img height="20px" src="../../../assets/imgs/icons8-pencil-64.png" alt=""> {{navItems.VIET_TRUYEM.name}}</a>
                                <a class="dropdown-item" href="{{navItems.TRUYEN_CUA_TOI.link}}">{{navItems.TRUYEN_CUA_TOI.name}}</a>
                                <a class="dropdown-item" href="{{navItems.THONG_TIN_TAI_KHOAN.link}}">{{navItems.THONG_TIN_TAI_KHOAN.name}}</a>
                                <a class="dropdown-item" href="{{navItems.QUAN_LY_VI.link}}">{{navItems.QUAN_LY_VI.name}}</a>
                            </div>
                        </li>
                    </ul>
                    <a class="nav-link" href="" (click)="logout()" alt="Đăng xuất">
                        <img height="20px" src="../../../assets/imgs/icons8-logout-rounded-down-64.png">
                    </a>
                </div>
            </form>
        </div>
    </div>
</nav>