.custom-header {
    background-color: #F7EFEE!important;
    height: 80px
}

a,
a.navbar-brand,
a.nav-link {
    color: #0B2149 !important;
    line-height: 24px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover,
a.nav-link:hover,
.header-btn>a:hover {
    color: #14274b !important;
    border-radius: 2px;
}

.header-btn {
    margin: 0px 5px 0px 5px;
    color: white;
    text-decoration: none;
}

.nav-buttons {
    display: flex;
    align-items: center;
}