/* You can add global styles to this file, and also import other style files */


/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

@import "~@ng-select/ng-select/themes/default.theme.css";
a {
    cursor: pointer;
}

.footer {
    padding: 20px 0 20px 0;
    position: initial;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 40px;
    background-color: #f5f5f5;
}

.card {
    padding: 10px !important;
    border: none !important;
}

.card-body {
    padding-left: 0px !important;
    padding-top: 5px !important;
    white-space: nowrap;
}

.card-body>a {
    color: black;
    font-weight: 700;
}

.card-body>a:hover {
    color: red;
    text-decoration: none;
}


/* User Information */

.userInfor {
    height: 40em;
}